.container2 {
width: 100vw;
height: 100vh;
background: indigo;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.container {
border-radius: 25px;
width: 30%;
height: 97%;
background: lightgray;
}

.footer {
width: 100%;
height: 10%;
background: #BFC9CA;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}



.cabeca {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;		
	border-bottom-left-radius: 400px 130px ;
	border-bottom-right-radius: 500px 200px ;
	width: 100%;
	height: 25%;
	background: #050870;
}

.meio{
width: 100%;
height: 65%;
background: transparent;

}

.footerbody{
background: #ffab62;
width: 100%;
height: 100px;
position: absolute;
bottom: 0;
left: 0;
}

.button{
	width: 100px;
	padding: 5px;
	margin-left: 280px;
	background-color:#050870;
	color: white;
	border-radius: 5px;
}

.form-horizontal{
	height: 65%;
	margin-left: 20px;
	margin-right: 20px;
}

.btnContador{
	border-radius: 5px;
	font-size: 30px;
	color: white;
	background-color:#050870;
	width: 35px;
	height: 35px;

}

.inputNumber{
	width: 40px ;
	height: 20px;
	border-radius: 5px;
	background-color :#BFC9CA;
}

.img{
	width: 50%;
	margin-top: 50px;
	margin-left: 65px;
	height: 100px;
	width: 100px;
}

.spacer{
	height: 30px;
}

.input{
	background-color :red;
}

h3{
	font-size: 15px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
}

h4{
	font-size: 15px;
	color: white;
	font-family: sans-serif;
	font-weight: normal;
}

textarea{
	background-color :#BFC9CA;
	width: 98%;
	height: 100px;
	border-radius: 5px;
}

label{
		font-weight: bold;
}

body {
margin: 0px;
background-color: indigo;
}